@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #14112E;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.header {
    background-image: url(images/ba.png);
    background-position: center bottom; background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    min-height: 70vh;
}    

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
}    

.menu .navbar ul li {
    position: relative;
    float: left;
}

.menu .navbar ul li a {

    font-size: 18px;
    padding: 20px;
    color:#A0A3C4;
    display: block;
    font-weight: 600;
}    

.menu .navbar ul li a:hover {
    color: #FFFFFF;
}

#menu {
    display: none;
}
.menu-icono {
    width: 25px;
}

.menu label {
    cursor: pointer;
    display: none;
}
    
.header-content {
    display: flex;
    align-items: center;
}
.header-txt {
    width: 50%;
}
.header-txt span {
    font-size: 14px;
    color:#5B5BD7;
    text-transform: capitalize;
}
.header-txt h1 {
    font-size: 50px;
    line-height: 70px;
    color: #FFFFFF;
    margin-bottom: 50px;
}

.btn-1 {
    display: inline-block;
    padding: 11px 25px;
    text-transform: capitalize;
    color: #FFFFFF;
    background: linear-gradient(
        90deg,
        rgba(72,87,240,1) 25%,
        rgba(23,54,164,1) 100%);
    border-radius: 15px;
}

.header-img {
    width: 50%;
}

.header-img img {
    height: 500px;
    width: 600px;
}

.games {
    padding: 50px 0; 
    position: relative;
}
.ba {
    width: 250px;
    height: 200px;
    position: absolute;
    left: -250px;
    z-index: -1;
}

.txt {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 35px;
}

.txt h2 {
    font-size: 30px;
    color:#FFFFFF;
}

.games-content {
    display: flex;
}
.game img {
    margin: 5px;
    width: 190px;
    border-radius: 15px;
}
.follo {
    margin-top: 10px;
    display: flex;
    align-items: center;
}

.follo h3 { 
    color:#FFFFFF;
    font-size: 13px;
}

.btn-2 {
    display: inline-block;
    padding: 10px 20px;
    background-color: #393D63; 
    color:#FFFFFF;
    font-size: 14px;
    text-transform: capitalize;
    border-radius: 15px;
}

.about {

    padding: 100px 0;
}    
.about-content {
    display: flex;
}
.about-1 {
    width: 50%;
}

.about-1 {
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)),
        url(images/bg-2.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    display: flex;
    align-items: end;
    height: 500px;
}

.about-1 img {
    width: 70px;
}

.about-1 h3 {
    font-size: 14px; 
    color: #FFFFFF; 
    margin-left: 15px;
}
.about-2 {
    width: 50%;
    margin-left: 10px;
}

.about-in1 {
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)),
        url(images/bg-3.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    display: flex;
    align-items: end;
    height: 245px;
    margin-bottom: 10px;
}

.about-in1 img {
    width: 70px
}

.about-in1 h3 {
    font-size: 14px;
    color: #ffffff;
    margin-left: 15px;
}

.about-in2 {
    background-image: linear-gradient(
        rgba(0,0,0,0.2),
        rgba(0,0,0,0.2)),
        url(images/bg-4.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 25px;
    display: flex;
    align-items: end;
    height: 245px;
    margin-bottom: 10px;
}

.about-in2 img {
    width: 70px
}

.about-in2 h3 {
    font-size: 14px;
    color: #ffffff;
    margin-left: 15px;
}
    















}




